# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# External libraries
lib/
lib64/
site-packages/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp

# Ignore WAV files
*.wav
