# Byte-compiled files
__pycache__/
src/__pycache__
*.py[cod]
*.pyc

*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg
site-packages/
share/
bin/
lib/
lib64/


# External libraries

lib/python3.12/site-packages



# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp
bin/

# Ignore WAV files
*.wav

# IDE-specific files
.idea/
.vscode/

#data
.json
.csv


#c ++ stuff 
# Ignore AlloLib build directory
thirdparty/allolib-build/
thirdparty/allolib/build/
thirdparty/allolib/**/CMakeFiles/
thirdparty/allolib/**/CMakeCache.txt
thirdparty/allolib/**/Makefile